body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 115px;
  padding: 20px;
  color: white;
  overflow: hidden;
  position: relative;
}

.App-header a {
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.App-header a.title {
  font-size: 5em;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header a:hover{
	background-color: #E8E8E8;
	color: black;
}

.App-header a.active {
	background-color: #E8E8E8;
	color: black;
}

.App-header-right {
	float: right;
	font-family: 'Syncopate', sans-serif;
}

@media screen and (max-width: 500px) {
  .App-header a, .App-header-right {
    float: none;
    display: block;
    text-align: left;
  }
  .App-header-centered a{
  	position: relative;
  	top: 0;
  	left: 0;
  	transform: none;
  }
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.random-div {
  color: green;
  font-size: 26px;
}

.map-container {
  height: 80%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.nav-button {
    background-color: #DCDCDC;
    color: black;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family: 'Syncopate', sans-serif;
}

.nav-button:hover {
    opacity: 0.8;
}

.cancel-button {
    background-color: #DCDCDC;
    color: black;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: 15px;
    font-family: 'Syncopate', sans-serif;
    float: right; 
}

.container {
    padding: 16px;
}

.login-button {
    background-color: #DCDCDC;
    color: black;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: 15px;
    font-family: 'Syncopate', sans-serif;
    float: center;
    padding-top: 16px;
}

.forgot-button {
    background-color: #DCDCDC;
    color: black;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 15px;
    font-family: 'Syncopate', sans-serif;
    float: center;
    padding-top: 16px;
}

.login-box {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: grey;
    background-color: white;
    padding-top: 60px;
}

.login-box-content {
    background-color: black;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: blue;
    cursor: pointer;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.crawl-dropdown-bar{
  	width: 96vw;
  	margin: 2vw 2vw 2vw 2vw;
  	text-align:center;
}

.crawl-button {
    position: absolute;
    top: 0;
    margin-top: 10px;
    width: 100%;
}

/*START OF TUTORIAL STYLING.... can be changed to match our styling */
a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

/****************** Arrow.css *************************/

.slide-img {
  width: 80%;
  height: auto;
}

.nextArrow, .backArrow {
  height: 50px;
  width: 50px;
}

.nextArrow {
  position: absolute;
  top: 75%;
  right: 25px;
}

.backArrow {
  position: absolute;
  top: 75%;
  left: 25px;
}

/****************** Contact.css **********************/

#contact {
  background-color: rgb(45, 46, 51);
  padding: var(--padding-section);
  color: white;
}

#contact hr {
  border-color: white;
  width: 50%;
}

#contact .btn {
  font-weight: bold;
  font-size: 1.25em;
  background-color: white;
  color: black;
  border: 0.1em solid black;
  border-radius: 0.33em;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
}

#contact .btn:hover {
  background-color: var(--main-color);
  border: 0.1em solid var(--main-color);
  color: white;
}

#contact .social-icons, .pdf-icon {
  color: black;
  font-size: 1.13em;
}

.contact-img {
  width: 100%;
  max-height: 300px;
  max-width: 300px;
  overflow-y: hidden;
  margin: auto;
}

/******************** Footer.css ********************/

.footer .social-icons {
  color: var(--main-color);
  font-size: 1.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: -0.2em;
}

.footer .navbar-text {
  font-family: 'Roboto';
  font-size: 0.7em;
  color: white;
}

/************ Home *********************/

#home {
  background-color: white;
  padding: var(--padding-section);
}

#home .row {
  padding-top: 3em;
}

#home hr {
  border-color: black;
  width: 50%;
}

#home p strong {
  color: rgb(67, 147, 179);
}

#home h6 {
  color: rgb(50, 112, 136);
}

/**************** Movie.css ********************/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

#movie-search {
    padding: var(--padding-section);
}

.input-movie {
  width: 100%;
  font-size: 12px;
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border-bottom: 5px #59ba96;
}

.title {
    font-size: 50px;
    font-weight: bolder;
    padding: 5px 15px;
}

.moviePoster {
    width: 200px;
}

.movieTitle {
    font-size: 20px;
    font-weight: bold;
}

.movieYear {
  font-size:20px;
  font-style: italic;
}

.info {
    font-size: 15px;
}

/********************* NavigationBar.css *******************/

.navbar {
  text-transform: uppercase;
  padding: var(--padding-navbar);
}

.navbar-brand {
  font-size: var(--font-size-navbar-brand);
  font-family: var(--headers-strong-font-family);
  font-weight: var(--headers-strong-font-weight);
}

.navbar .navbar-brand:hover {
  color: var(--main-color);
}

.navbar .nav-link, .navbar .dropdown-item {
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
}

.navbar .dropdown-item {
  font-size: 0.8em;
}

.navbar .navbar-nav li a:hover {
  color: var(--main-color) !important;
  background-color: transparent !important;
}

.navbar .navbar-nav li a:focus {
  color: var(--main-color) !important;
  background-color: transparent !important;
}

.navbar .navbar-toggler {
  background-color: var(--navbar-background-color);
}

.navbar .navbar-toggler .burger-icon {
  color: var(--main-color);
}