#contact {
    background-color: rgb(45, 46, 51);
    padding: var(--padding-section);
    color: white;
}

#contact hr {
    border-color: white;
    width: 50%;
}

#contact .btn {
    font-weight: bold;
    font-size: 1.25em;
    background-color: white;
    color: black;
    border: 0.1em solid black;
    border-radius: 0.33em;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
}

#contact .btn:hover {
    background-color: #DCAF68;
    border: 0.1em solid #DCAF68;
    color: white;
}

#contact .social-icons, .pdf-icon {
    color: black;
    font-size: 1.13em;
}

.contact-img {
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    overflow-y: hidden;
    margin: auto;
}
