.footer .social-icons {
    color: var(--main-color);
    font-size: 1.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: -0.2em;
}

.footer .navbar-text {
    font-family: 'Roboto';
    font-size: 0.7em;
    color: white;
}