.navbar {
    text-transform: uppercase;
    padding: var(--padding-navbar);
}

.navbar-brand {
    font-size: var(--font-size-navbar-brand);
    font-family: var(--headers-strong-font-family);
    font-weight: var(--headers-strong-font-weight);
}

.navbar .navbar-brand:hover {
    color: var(--main-color);
}

.navbar .nav-link {
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
}

.navbar .navbar-nav li a:hover {
    color: var(--main-color) !important;
    background-color: transparent !important;
}

.navbar .navbar-nav li a:focus {
    color: var(--main-color) !important;
    background-color: transparent !important;
}

.navbar .navbar-toggler {
    background-color: var(--navbar-background-color);
}

.navbar .navbar-toggler .burger-icon {
    color: var(--main-color);
}