.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-out;
}

.fade-leave{
  opacity: 1;
}

.fade-leave-active{
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.nextArrow, .backArrow {
  height: 50px;
  width: 50px;
}

.nextArrow {
  position: absolute;
  top: 75%;
  right: 25px;
}

.backArrow {
  position: absolute;
  top: 75%;
  left: 25px;
}
