#home {
    background-color: white;
    padding: var(--padding-section);
}

#home .row {
    padding-top: 3em;
}

#home hr {
    border-color: black;
    width: 50%;
}

#home p strong {
    color: rgb(67, 147, 179);
}

#home h6 {
    color: rgb(50, 112, 136);
}
